Instalando as bibliotecas

In [ ]:
!pip install pandas
!pip install sqlalchemy
!pip install psycopg2
!pip install pyodbc 
!pip install --upgrade psycopg2-binary
!pip install pymssql

In [2]:
import sys
import os

# Adiciona o caminho da pasta 'scripts' ao sys.path
sys.path.append(os.path.abspath('../scripts'))

Lendo os dados e gravando no Dataframe

In [ ]:
import pandas as pd

df = pd.read_csv('../data_raw/dados_bruto_empresa_b.csv', encoding='ansi')  # ajuste o caminho conforme necessário

print(df.head())

  NomeProduto;CategoriaProduto;PreçoProduto;QuantidadeEstoque;Filial;DataVenda;DataVenda_Formatada;Estado;Uf;DataBaixa;DataEntrada
0  Delineador líquido;Eletrodomésticos;99.98;50;F...
1  Base líquida;Eletrodomésticos;99.96;39;Filial ...
2  Sombra de olhos;Eletrônicos;99.95;29;Filial 10...
3  Batom matte;Roupas;99.95;45;Filial 6;2023-01-0...
4  Base líquida;Eletrônicos;99.93;51;Filial 6;202...

Lendo o dataframe utilizando separado correto

In [6]:
df = pd.read_csv('../data_raw/dados_bruto_empresa_b.csv', sep=";", encoding="ansi") 
print(df.head())

          NomeProduto  CategoriaProduto  PreçoProduto  QuantidadeEstoque  \
0  Delineador líquido  Eletrodomésticos         99.98                 50
1        Base líquida  Eletrodomésticos         99.96                 39
2     Sombra de olhos       Eletrônicos         99.95                 29
3         Batom matte            Roupas         99.95                 45
4        Base líquida       Eletrônicos         99.93                 51

      Filial                   DataVenda DataVenda_Formatada        Estado  \
0   Filial 6  2023-07-26 18:58:06.794203    26/07/2023 18:58         Ceara
1   Filial 3  2023-06-10 18:58:06.794203    10/06/2023 18:58  Minas Gerais
2  Filial 10  2023-03-05 18:58:06.794203    05/03/2023 18:58      Amazonas
3   Filial 6  2023-01-03 18:58:06.794203    03/01/2023 18:58         Ceara
4   Filial 6  2023-02-23 18:58:06.794203    23/02/2023 18:58         Ceara

   Uf         DataBaixa       DataEntrada
0  CE  24/01/2023 18:58  16/07/2023 18:58
1  MG  10/06/2023 18:58  28/06/2023 18:58
2  AM  05/03/2023 18:58  27/02/2023 18:58
3  CE  24/01/2023 18:58  16/07/2023 18:58
4  CE  21/11/2022 18:58  18/12/2022 18:58

In [7]:
pd.set_option("display.max_colwidth", 150)
pd.set_option("display.min_rows", 20)

Grava os dados do Dataframe no Banco de Dados

In [8]:
from sqlalchemy import create_engine
from datetime import datetime, timedelta
import time
from db import *

engine = get_postgres_engine()

# Carrega para o PostgreSQL (substitui a tabela se já existir)
df.to_sql('TB_VENDAS_EMPRESA_B_DATALAKE', engine, if_exists='replace', index=False)

121

Lendo os dados e gravando no Dataframe 2

In [9]:
df2 = pd.read_csv('../data_raw/dados_bruto_empresa_a.csv', encoding='ansi')  # ajuste o caminho conforme necessário

print(df2.head())

                                NomeItem;ClassificacaoProduto;ValorReais;QuantidadeEstoque;NomeLoja;DataVenda;DataVenda_Formatada;Estado;UF;DataBaixa;DataEntrada
Lápis de sobrancelha;Roupas;"55                   17";62;Filial 1;2023-04-13 18:58:06.794203;13/04/2023 18:58;Rio de Janeiro;RJ;13/04/2023 18:58;02/07/2023 18:58
Batom matte;Eletrônicos;"74                     15";48;Filial 9;2023-06-03 18:58:06.794203;03/06/2023 18:58;Distrito Federal;DF;03/06/2023 18:58;07/09/2022 18:58
Corretivo;Roupas;"54                                       86";36;Filial 5;2023-06-08 18:58:06.794203;08/06/2023 18:58;Bahia;BA;08/06/2023 18:58;23/11/2022 18:58
Delineador líquido;Roupas;"91                   29";1;Filial 8;2023-02-27 18:58:06.794203;27/02/2023 18:58;Rio Grande do Sul;RS;27/02/2023 18:58;22/02/2023 18:58
Batom líquido;Roupas;"44                               65";52;Filial 2;2022-09-05 18:58:06.794203;05/09/2022 18:58;São Paulo;SP;05/09/2022 18:58;25/01/2023 18:58

In [10]:
df2 = pd.read_csv('../data_raw/dados_bruto_empresa_a.csv', sep=";", encoding='ansi')
print(df2.head())

               NomeItem ClassificacaoProduto ValorReais  QuantidadeEstoque  \
0  Lápis de sobrancelha               Roupas      55,17                 62
1           Batom matte          Eletrônicos      74,15                 48
2             Corretivo               Roupas      54,86                 36
3    Delineador líquido               Roupas      91,29                  1
4         Batom líquido               Roupas      44,65                 52

   NomeLoja                   DataVenda DataVenda_Formatada  \
0  Filial 1  2023-04-13 18:58:06.794203    13/04/2023 18:58
1  Filial 9  2023-06-03 18:58:06.794203    03/06/2023 18:58
2  Filial 5  2023-06-08 18:58:06.794203    08/06/2023 18:58
3  Filial 8  2023-02-27 18:58:06.794203    27/02/2023 18:58
4  Filial 2  2022-09-05 18:58:06.794203    05/09/2022 18:58

              Estado  UF         DataBaixa       DataEntrada
0     Rio de Janeiro  RJ  13/04/2023 18:58  02/07/2023 18:58
1   Distrito Federal  DF  03/06/2023 18:58  07/09/2022 18:58
2              Bahia  BA  08/06/2023 18:58  23/11/2022 18:58
3  Rio Grande do Sul  RS  27/02/2023 18:58  22/02/2023 18:58
4          São Paulo  SP  05/09/2022 18:58  25/01/2023 18:58

Gravando os dados no SQL Server

In [11]:
import urllib

engine = get_sqlserver_engine()

# Envia os dados para o SQL Server
df2.to_sql("TB_VENDAS_EMPRESA_A_DATALAKE", engine, if_exists="replace", index=False)

183