Lendo os dados e gravando no Dataframe

In [1]:
import sys
import os

# Adiciona o caminho da pasta 'scripts' ao sys.path
sys.path.append(os.path.abspath('../scripts'))

In [ ]:
# Importação das bibliotecas
from sqlalchemy import create_engine
from datetime import datetime, timedelta
import time
import pandas as pd
from db import *

engine = get_postgres_engine()

# Lê a tabela diretamente para um DataFrame
df = pd.read_sql('SELECT * FROM public."TB_VENDAS_EMPRESA_B_BRONZE"', engine)
# Exibe os primeiros registros
print(df.head())

Retirando Duplicados

In [5]:
df.drop_duplicates(inplace=True)

In [6]:
pd.set_option("display.max_colwidth", 150)
pd.set_option("display.min_rows", 20)

Grava os dados do Dataframe no Banco de Dados

In [16]:
# Carrega para o PostgreSQL (substitui a tabela se já existir)
df.to_sql('TB_VENDAS_EMPRESA_B_SILVER', engine, if_exists='replace', index=False)

81

Lendo os dados e gravando no Dataframe 2 e gravando na tabela

In [18]:
import urllib

engine2 = get_sqlserver_engine()

df2 = pd.read_sql('SELECT * FROM TB_VENDAS_EMPRESA_A_BRONZE', engine2)

# Converte para string e substitui ',' por '.'
df2['ValorReais'] = df2['ValorReais'].astype(str).str.replace(',', '.', regex=False)

df2.drop_duplicates(inplace=True)

print(df2.head())

               NomeItem ClassificacaoProduto ValorReais  QuantidadeEstoque  \
0  Lápis de sobrancelha               Roupas      55.17                 62
1           Batom matte          Eletrônicos      74.15                 48
2             Corretivo               Roupas      54.86                 36
3    Delineador líquido               Roupas      91.29                  1
4         Batom líquido               Roupas      44.65                 52

   NomeLoja                   DataVenda DataVenda_Formatada  \
0  Filial 1  2023-04-13 18:58:06.794203    13/04/2023 18:58
1  Filial 9  2023-06-03 18:58:06.794203    03/06/2023 18:58
2  Filial 5  2023-06-08 18:58:06.794203    08/06/2023 18:58
3  Filial 8  2023-02-27 18:58:06.794203    27/02/2023 18:58
4  Filial 2  2022-09-05 18:58:06.794203    05/09/2022 18:58

              Estado  UF         DataBaixa       DataEntrada
0     Rio de Janeiro  RJ  13/04/2023 18:58  02/07/2023 18:58
1   Distrito Federal  DF  03/06/2023 18:58  07/09/2022 18:58
2              Bahia  BA  08/06/2023 18:58  23/11/2022 18:58
3  Rio Grande do Sul  RS  27/02/2023 18:58  22/02/2023 18:58
4          São Paulo  SP  05/09/2022 18:58  25/01/2023 18:58

In [19]:
# Envia os dados para o SQL Server
df2.to_sql("TB_VENDAS_EMPRESA_A_SILVER", engine2, if_exists="replace", index=False)

183