In [1]:
import sys
import os

# Adiciona o caminho da pasta 'scripts' ao sys.path
sys.path.append(os.path.abspath('../scripts'))

Enriquecendo a tabela de vendas com os dados da cotação

In [2]:
# Importação das bibliotecas
from sqlalchemy import create_engine
from datetime import datetime, timedelta
import time
import urllib
import pandas as pd
from db import *

engine = get_postgres_engine()
engine2 = get_sqlserver_engine()

df = pd.read_sql("""SELECT E.NomeProduto, E.CategoriaProduto, CAST(E.DataVenda AS DATE) DataVenda, E.EstadoFilial, E.ValorTotalVenda, 
ISNULL(A.CotacaoVenda, (SELECT MAX(CotacaoVenda) FROM TB_VENDAS_AUXILAR)) AS CotacaoDolar
FROM TB_VENDAS_EMPRESA_A_EMPRESA_B E
LEFT JOIN TB_VENDAS_AUXILAR A ON A.DataCotacao = E.DataVenda""", engine2)

# Exibe os primeiros registros
print(df.head())

         NomeProduto  CategoriaProduto   DataVenda EstadoFilial  \
0        Pó compacto            Roupas  2022-12-11        Bahia
1  Máscara de cílios  Eletrodomésticos  2023-02-18     Amazonas
2          Corretivo         Alimentos  2023-07-01        Bahia
3      Batom líquido       Eletrônicos  2023-08-18        Ceara
4        Batom matte       Eletrônicos  2023-02-25        Ceara

  ValorTotalVenda  CotacaoDolar
0           58.69        6.2086
1           72.50        6.2086
2            7.61        6.2086
3           78.87        4.9724
4           54.23        6.2086

Gravando os dados do dataframe nas tabelas finais

In [72]:
# Envia os dados para o SQL Server
df.to_sql("TB_VENDAS_FINAL", engine, if_exists="replace", index=False)
df.to_sql("TB_VENDAS_FINAL", engine2, if_exists="replace", index=False)

print("✅ Dados carregados com sucesso no SQL Server e Postgress!")

✅ Dados carregados com sucesso no SQL Server e Postgress!